body {
    /*background-color: white;*/
    font-family: 'Nunito';
    height: 100%;
    background-image: url("images/background.jpg");
    /* Cover photo */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    /* Padding at bottom to allow for footer */
	padding-bottom: 10vh;
	padding-top: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: inline;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
    background-color: black;
    color: white;
}

a {
	color: black;
	text-decoration: none;
}

.active {
    background-color: #4CAF50;
}


h1 {
    text-align: left;
    display: inline;
}

/*p {
    font-size: 20px;
    text-align: center;
}*/

.rightPlaced {
	/* float to right */
	float: right;
	background-color: #FFF;
	opacity: 0.7;
	color: black;
	font-size: 18px;
}

.footer {
	position: relative;
	/*position: absolute;*/
	bottom: 0;
	background-color: #2f4f4f;
	text-align: center;
	/*overflow: auto;*/
	padding-bottom: 0;
	margin: 0;
	/*transform: translateX(100%);*/

	/*clear: both;
 	position: relative;
 	z-index: -10;
 	height: 3em;
 	margin-top: -3em;*/

 	/* Size */
 	/*height: 17vh;*/
 	height: auto;
}

.footerFrontPage {
	position: absolute;
	bottom: 0;
	background-color: #2f4f4f;
	text-align: center;
	/*overflow: auto;*/
	padding-bottom: 0;
	margin: 0;
	/*transform: translateX(100%);*/

	/*clear: both;
 	position: relative;
 	z-index: -10;
 	height: 3em;
 	margin-top: -3em;*/

 	/* Size */
 	/*height: 17vh;*/
 	height: auto;
}

.footerButton {
	display: inline-block;
	/*position: relative;*/
	/*border-radius: 50%;*/
	background-color: #2f4f4f;
	color: white;
}

.footerParagraph {
	/*background-color: #D3D3D3;*/
	padding-bottom: 20px;
	color: white;
}

/* Social media icons */
.fa {
	position: absolute;
	padding: 2%;
	top: 30%;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.7;
}

.fa-twitter {
	font-size: 30px !important;
	left: 10%;
	background: #55ACEE;
    color: white;
}

.fa-youtube {
	font-size: 30px !important;
	right: 10%;
	background: #bb0000;
	color: white;
}

#titleHeader {
	padding: 10px;
	font-size: 3vw;
	font-family: 'Avenir', sans-serif;
}

.surveyQuestionText {
	font-size: 22px;
}

button {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    left: 50%;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito';
}

button:hover {
	background-color: #228B22 !important;
	/*color: black;*/
	opacity: 0.9;
}

figcaption {
	/*position: absolute;*/
	text-align: center;
	background-color: white;
	opacity: 0.9;
	border: 2px #000;
	border-style: inset;
	/*padding-bottom: 10px;*/
	margin-bottom: 50px;
	/*width: 33%;*/
}

.hidden {
	display: none;
}

background-image {
	width: 100%;
	height: auto;
}

.show {
	margin: 1.5rem;
	display: block;
	background-color: white;
	/*background-image: url("https://i.imgur.com/taSW5Mb.png");*/
	opacity: .9;
	padding-top: 1rem;
	padding-bottom: 2rem;
	border: 3px solid #000;
	text-align: center;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: inline;
	position: relative;
	width: auto;
	height: auto;
	/*object-fit: contain;*/
}

.stringInfo {
	display: inline;
	position: relative;
	padding: 20px;
	border-style: outset;
	background-color: #f5f5dc;
	border: 3px solid #000;
	width: 33%;
}

#intro {
	border: 1px solid #000;
	margin: 2px;
	text-align: center;
	padding: 30px;
	background-color: white;
	opacity: 0.9;
}

nav {
	/*background-color: white;*/
	padding-bottom: 2vw;
}

.question {
	margin: 1.5rem;
	display: block;
	/*background-color: "#FF6700";*/
}

/* Slideshow */
* {box-sizing: border-box}

.slideshow-container {
	/*max-width: 1000px;*/
	width: 90%;
	/*height: 90%;*/
	position: relative;
	margin: auto;
	/*height: 30rem;*/
}

/* Hide photos by default */
.mySlides {
	display: none;
	position: relative;
	/*margin-bottom: 50px;*/
}

/* Next and previous buttons */
.next, .prev {
	cursor: pointer;
	position: absolute;
	top: 50%;
	/*bottom: 0;*/
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	visibility: hidden;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
	background-color: white
	/*opacity: .9;*/
}

.prev {
	left: 0;
	background-color: white
	/*opacity: .9;*/
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.numbertext {
	color: white;
	background-color: black;
	font-size: 16px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #FFF;
	border-radius: 50%;
	display: inline-block;
	visibility: hidden;
	transition: background-color 0.6s ease;
	z-index: 0;
}

.active, .dot:hover {
	background-color: #000000;
}

.hiddenDot {
	display: none;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: .9}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: .9}
}

#dotDiv {
	display: inline-block;
	position: relative;
	bottom: 0;
	width: 100%;
	margin: auto;
}

#retakeDiv {
	display: inline-block;
	width: 40%;
	text-align: center;
}

#contactDiv {
	display: inline-block;
	width: 40%;
	right: 10px;
	float: right;
	text-align: center;
}

#questionsContainer {
	margin: auto;
	width: 100%;
	visibility: hidden;
	padding-top: 1rem;
	float: right;
	border: 3px solid #000;
	padding: 10px;
	background-color: white;
	opacity: 0.9;
	display: block;
	position: relative;
}

#contactForm {
	/*visibility: hidden;*/
	/*float: right;*/
	position: relative;
	left: 50%;
	width: 80%;
	margin: 1rem;
	border: 3px solid #000;
	/*padding: 10px;*/
	transform:translateX(-50%);
}

input {
	display: inline;
	/*transform:translateX(50%);*/
}

.userInput {
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}

#logo {
	height: 5vw;
	width: 3vw;
	display:inline;
	/*padding: 14px 16px;*/
}

#headerNav {
	max-height: 100px;
}

textarea {
	width: 80%;
	height: 100px;
	font-size: 20px;
}

input[type=text], input[type=email] {
	width: 80%;
	height: 100%;
	font-size: 20px;
}

form {
	background-color: white;
	opacity: 0.9;
}

/*#contactSubmitButton {
	font-size: 16px;
	background-color: black;
	color: white;
	padding: 1vw 1vw;
}*/

input[type=submit] {
	padding:10px 20px; 
	background:#ccc; 
	border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px; 
}

input[type=submit]:hover {
	background:#228B22;
}

/*#contactSubmitButton:hover {
	background-color: white;
	color:black;
}*/

/*input[type=submit] {
	font-size: 16px;
	background-color: black;
	color: white;
	padding: 1vw 1vw;
}

input[type=submit]:hover {
	font-size: 16px;
	padding: 1vw 1vw;
	background-color: white;
	color:black;
}*/

.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container input {
	/* hide default checkbox */
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	/*margin: auto;*/
	height: 25px;
	width: 25px;
	background-color: #000;
}

.container:hover input ~ .checkmark {
	/* add grey background color on mouse-over */
	background-color: #ccc;
}

.container input:checked ~ .checkmark {
	background-color: #2196F3;
}

.checkmark:after {
	/* checkmark indicator (hidden when not checked) */
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after {
	/* shows checkmark when checked */
	display: block;
}

.container .checkmark:after {
	/* style checkmark */
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* For image containers for results at end */
.row {
	display: table;
	width: 100%;
}

.column {
	float: left;
	width: 33.33%;
	display: table;
	/*style*/
	padding: 20px;
	background-color: #f5f5dc;
	opacity: 0.9;
	border: 3px groove #000;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

.stringName {
	text-align: center;
}

/* Contact Us screen */
#contactBody {
	background-image: none;
	background-color: #FFF;
	padding: 0;
	margin: 0;
	/*height: 100%;*/
	/* Padding at bottom to allow for footer */
	/*padding-bottom: 10vh; */
}

.bgimg { 
	background-image: url('images/background.jpg');
	background-position: center;
    background-size: cover;
    position: relative;
    border-style: outset;
    /*border: 1vw outset #000;*/
	/*height: 30%;*/
}

.contactHeader {
    /*position: relative;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, 100%);
    transform:translate(-50%, -50%);
    text-align: center;*/

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 8vw;

    font-family: 'PT Sans';
    font-size: 35px;
}

#contactDirections {
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

/* About page */
.styleStrings {
	/* Center text */
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*left: 50%;
    position: relative;*/
    /* Text style */
    font-size: 30px;
    color: red;
    /*display: block;
    margin: auto;
    transform: translateX(50%);*/
    /* Style this more */
}

.answers {
	display: block;
	margin: auto;
	width: 90%;
	padding-bottom: 30px;
}

.answerParagraphs {
	display: block;
	font-size: 20px;
	text-align: center;
	/*display: flex;
    align-items: center;
    justify-content: center;*/
}

.desktopNav {
	display: block;
}

.topnav {
	overflow: hidden;
	position: relative;
	/*visibility: hidden;*/
	/*display: none;*/
	/*visibility: hidden;*/
	/*display: block;*/
	/*visibility: hidden;*/
}

.topnav #myLinks {
	display: none;
}

.topnav a {
	/*display: none;*/
	color: black;
}

.topnav a.icon {
	/*display: none;*/
	position: absolute;
	top: 5px;
	right: 10px;
	width: 20px;
	height: 20px;
	color: black;
	display: block;
	/*z-index: 10;*/
	/*background-color: black;*/
}

.mobile-container {
	/*display: block;*/
	margin: auto;
	/*visibility: hidden;*/
	/*display: none;*/
	/*display: none !important;*/
	display: none;
	background-color: white;
	opacity: 0.8;
	padding-top: 0;
	/*color: black;*/
}

/* For styling title */
.mobileTitle {
	text-decoration: none;
	color: black;
	font-size: 25px;
	font-family: 'Avenir', sans-serif;
}

/*#mainPageFooter {
	display: none;
}*/

.divOfProperties {
	display: table;
	margin: 0 auto;
	font-size: 20px;
}

.stringCharacteristics {
	display: list-item;
	float: none;
	list-style-type: disc;
	margin: auto;
	/*text-align: center;*/
}

.characteristicsList {
	/*list-style-type: disc;
	display: list-item;*/

	list-style: disc outside none;
	display: list-item;
	/*margin-left: 35%;*/
	padding: 20px;
	margin: auto;
	/*text-align: center;*/
}

.policyLink {
	color: blue;
	text-decoration: underline;
}

#popupp {
	visibility: hidden;
	/* first element */
	z-index: 1;
	text-align: center;
	background-color: #000;
	/*opacity: 0.7;*/
	color: #FFF;
	position: fixed;
	bottom: 0;
	/*left: 50%;*/
	width: 100%;
	margin: auto;
	padding: 20px;
    border: 1px solid #888;
    left: 0;
    font-size: 10px;

}

#cookiesButton {
	/*position: relative;*/
	background-color: #228B22;
	cursor: pointer;
	font-size: 10px;
	padding: 7px 16px;
}

#cookiesLink {
	color: lightblue;
	text-decoration: underline;
}

/* For mobile devices */
@media only screen and (max-width: 768px) {

	/* Make footer all single lined (block) */
	.footerButton {
		display: block;
	}

	.footer {
		/*float: */
		/*clear: both;*/
		/*float: le t;*/
		/*top: 150px;*/

		/* Add top to footer to ensure it does not overlap the content */
		/*top: 5vh;*/
		overflow: hidden;
	}

	#questionsContainer {
		/* Trying to remove absolute -- will it make a difference? */
		/*position: absolute; */
		float: left;
		display: block;
		/*top: 20px;*/
		overflow: hidden;
	}

	.column {
		width: 100%;
		display: table;
		float: left;
	}

	/* Mobile Nav Bar */
	.mobile-container {
		display: block;
	}

	.desktopNav {
		display: none;
	}

	#myLinks a {
		display: block;
		text-decoration: none;
		padding: 10px;
	}

	#myLinks a:hover {
		background-color: black;
		opacity: 0.7;
		color: white;
	}

	#headerNav {
		display: none;
	}

	/* size of presentation of buttons */
	button {
		font-size: 14px;
	}

	.show {
		font-size: 12px;
	}

	.topnav a.icon {
		display: block;
	}

	textarea {
		font-size: 14px;
	}

	input[type=text], input[type=email] {
		font-size: 16px;
	}

	#contactDirections {
		font-size: 14px;
	}

	input[type=submit] {
		font-size: 16px;
	}

	.answerParagraphs {
		font-size: 16px;
	}

	.styleStrings {
		font-size: 24px;
	}

	.numbertext {
		font-size: 12px;
	}

	.divOfProperties {
		font-size: 16px;
	}

	.surveyQuestionText {
		font-size: 18px;
	}

	.contactHeader {
		font-size: 28px;
	}
}



/*.picTitle {
	display: inline;
}

#topImage {
	width: auto;
	height: auto;
}*/

