body {
    background-color: white;
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: left;
}

p {
    font-size: 20px;
    text-align: center;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    left: 50%;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
	display: none;
}

.show {
	margin: 1.5rem;
	display: block;
	background-color: #2f4f4f;
	padding-top: 1rem;
	padding-bottom: 2rem;
	padding-right: 1px;
}

img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.stringInfo {

}

#intro {
	border: 1px solid #000;
	margin: 2px;
	text-align: center;
	padding: 30px;
}

nav {
	background-color: white;
}

.gallery {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery-item {
	margin: 10px;
}

.question {
	margin: 1.5rem;
	display: block;
}